In [1]:
import pandas as pd
import numpy as np

In [2]:
CPI_AUCSL_pd = pd.read_csv('/Users/anhnguyendo/Documents/Python machine learning/US CPI project/us-consumer-spending-inflation/data/raw/CPIAUCSL.csv')

In [3]:
CPI_AUCSL_pd.head()

  realtime_start realtime_end        date    value
0     2025-04-21   2025-04-21  2010-01-01  217.488
1     2025-04-21   2025-04-21  2010-02-01  217.281
2     2025-04-21   2025-04-21  2010-03-01  217.353
3     2025-04-21   2025-04-21  2010-04-01  217.403
4     2025-04-21   2025-04-21  2010-05-01  217.290