In [1]:
import pandas as pd
import numpy as np

In [6]:
file = '/Users/anhnguyendo/Documents/Python machine learning/US CPI project/us-consumer-spending-inflation/data/raw/PCE.csv'
PCE_df = pd.read_csv(file)
PCE_df.head()

  realtime_start realtime_end        date    value
0     2025-03-28   2025-03-28  2010-01-01  10056.1
1     2025-03-28   2025-03-28  2010-02-01  10093.4
2     2025-03-28   2025-03-28  2010-03-01  10156.0
3     2025-03-28   2025-03-28  2010-04-01  10182.3
4     2025-03-28   2025-03-28  2010-05-01  10210.8

In [8]:
PCE_df.dtypes

realtime_start     object
realtime_end       object
date               object
value             float64
dtype: object

In [10]:
PCE_df.isnull().sum()

realtime_start    0
realtime_end      0
date              0
value             0
dtype: int64

In [11]:
#drop the realtime_start and realtime_end
PCE_df.drop(['realtime_start','realtime_end'], axis =1 , inplace = True)

In [13]:
PCE_df.head()

         date    value
0  2010-01-01  10056.1
1  2010-02-01  10093.4
2  2010-03-01  10156.0
3  2010-04-01  10182.3
4  2010-05-01  10210.8

In [19]:
import os
direction = '/Users/anhnguyendo/Documents/Python machine learning/US CPI project/us-consumer-spending-inflation/data/processed'
os.makedirs(direction, exist_ok = True)
PCE_df.to_csv(f'{direction}/PCE_clean.csv', index = False)